  body {
    font-size:calc(1rem + .5vw);
    font-family: Verdana, Georgia, "Times Roman", serif;
    line-height:1.5;
    color:#424242;
    /*color: rgb(236, 89, 196);*/
    background:#f8f8f8;
    background:rgb(255,255,255);
    background:rgb(241,162,217);
    background:rgb(248,215,239);
    background:rgb(255, 240, 254)
    margin: 0 6vw;
  }
  header {
  }
  .section {
    padding:0;
    margin-bottom:-1.5em;
    font-size:.825em;
    text-transform: capitalize;
    color:#999;

  }
  footer {
    padding:2em 0;
    color:#666;
  }

  #siteId {
    padding-bottom:.5em;
  /*  border-bottom:1px dotted #ccc; */
    margin:1em auto;
    display:block;
    width:16vw;
    min-width:6em;
  }
  #branding{
    font-family:serif;
  }
  .siteID {
    width:10vw;
    position:absolute;
    top:1em;
    left:1em;
    right:auto;
  }
  .siteID:last-child {
    right:1em;
    left:auto;
  }
  main {
/*    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    */
  }

  article > p:first-of-type::first-letter{
    /*font-size:2.5em;
    color:#666;
    vertical-align: baseline;
    */
  }

  article > header p{
    margin-top:-1.25em;
    font-size:.875em;
    font-style:italic;
  }

h1 {
  /*    flex:0 1 100% */
  font-size:1.5em;
  font-weight:normal;
  margin-top:1.5em;
}
h2 {
  font-weight:normal;
}
  article.summary {
/*    flex:1 1 30%;
    flex-wrap:wrap;
    min-width:20em;
*/
  }
/*
 .summary a {
    margin:1em 0;
    padding:.25em .5em;
    display:block;
    height:100%;
  }
  .summary a:hover  {
    background:rgba(255,255,255,.6);
    box-shadow: 0px 0px 4px 3px rgba(255,255,255,.6);
    background:rgba(0,0,0,.1);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,.1);
  }

  .summary a:link, .summary a:active, .summary, a:visited {
    text-decoration: none;
    color:#727272;
  }

  .summary {font-size:1rem;}
  .summary * {line-height:1.3;margin:0}
  .summary p::first-letter {font-size:inherit; color:inherit}
  .summary h2 {color:#666;font-weight:normal;text-decoration:underline}
  .summary .category {margin-left:1em;}
  .summary .published, .summary .category {color:#666}
*/
/* v2 */

video {
  width:100%;
  max-width:650px;
}

[aria-label="pagination"] {
  padding:1em 0;
}
[aria-label="pagination"] a {
  margin-right:.75em;
}

.pagination .current {
  font-weight:bold;
}


.toc .posts li {
  font-size:.875em;
}

.toc .posts li a {
  display:block;
  font-size:1.25em;
}
.episodes {
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
  padding:0;
  font-size:.825em;
}
.episodes li {
  max-width:250px;
  margin:.5em;
  flex: auto;
  border:1px solid #ccc;
  background:#fff;
  border-radius:0 0 8px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 8px 8px 8px;
}

.episodes a {
  text-decoration:underline;
}

.episodes a span {
  display:block;
  padding:.25rem .5rem;
}

.episodes .thumbnail {
  display:block;
  width:250px;
}
.episodes p {
  margin:0;
  font-size:.75em;
  padding:.5rem;

}

.summary  {
   margin:1em 0;
   padding:.25em 0;
   display:block;
   height:100%;
 }
 .summary:hoverx  {
   background:rgba(255,255,255,.6);
   box-shadow: 0px 0px 4px 3px rgba(255,255,255,.6);
   background:rgba(126,126,126,.1);
   box-shadow: 0px 0px 4px 3px rgba(126,126,126,.1);
 }


 .summary a:link, .summary a:hover, .summary a:active, .summary a:visited {
   text-decoration: underline;
   /*color:#727272;
   color:rgb(0,0,238) ;*/
 }

.summary a:hover {color:#000;}
.summary a:focus {border:1px dotted #666;}

 .summary {font-size:1em;}
 .summary * {line-height:1.4;margin:0}
 .summary p:first-of-type::first-letter {font-size:inherit; color:inherit}
 .summary h2 {font-weight:normal;font-size:inherit}
 .summary .category {margin-left:1em;}
 .summary .published, .summary .category {color:inherit;font-size:.9em;font-style:italic;}


  .duration {
    font-size:.875em;
  }

  .toc li {margin-top:.75em;}
  .toc li a + span {
    font-size:.875em;
    display:block;
    color:#888;
  }
