{% include header.html %}
<main>
  <article class="">
    <header>
        <p class="section"><a href="/">Home</a> > {% if page.collection == "bbl" %} <a href="/bbl">BBL</a> > {% endif %}{{page.name}}</p>
        <h1>{{page.title}}</h1>
        <p>Season {{page.season}} - Episode {{page.episode}} | {{page.duration}} min.</p>
        <!-- <p>Categories: {{ page.categories | capitalize | join : ', ' }}</p> -->
    </header>
    <video  controls poster="/assets/bbl/bbl-thumb-{{page.season}}-{{page.episode}}.jpg">
      <source src="{{page.host}}{{page.file}}" type="video/mp4">
      Your browser does not support video. Try a current browser version if you available.
    </video>
    {% if page.collection == "bbl" %}
      {% include pagination.html %}
    {% endif %}
  </article>
</main>
{% include footer.html %}
