{% include header.html %}
    <main>
      <h1>Studio News</h1>
      {% for post in site.posts |  reverse:date | limit:4 %}
        <article class="summary">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
            <p>
              <span class="published">{{ post.date | date: "%B %d, %Y"}}</span>
            <!--  <span class="category">{{ post.categories }}</span> -->
            </p>
        </article>
      {% endfor %}

      <!--
      <h2>Browning Block Life</h2>
      {% for post in site.bbl |  reverse:date | limit:4 %}
        <article class="summary">
          <h2><a href="{{post.url}}">{{post.title | remove: "Browning Block Life - "}}</a></h2>
        </article>
      {% endfor %}
    </main>
    <section>
      {% for category in site.categories %}
      <h2>{{ category[0] | capitalize }}</h2>
      <ul>
        {% for post in category[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}

    </section>

-->
    <aside class="">
      <h2>Elsewhere...</h2>
      <p>Watch these a-MA-zing talents.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LQgNLvFRaog" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Listen to Callithumpian.</p>
      <iframe width="100%" height="auto" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153322693&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=false"></iframe>
      <iframe width="100%" height="auto" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/357600059&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=false"></iframe>
  </aside>
{% include footer.html %}
